.order-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    align-items: start;
    border: 1px solid #7fbd94;
    background-color: #ffffff;
    padding: 16px 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    font-size: 14px;
    color: #505050;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  }

.order-item-food{
    font-weight: 600;
  font-size: 14px;
  color: #505050;
  text-align: left;
  white-space: wrap;
}

.order-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  
.order-item-name{
  margin: 6px 0;
  font-weight: 600;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
  background-color: #e5f4ea;
  border: 1px solid #7fbd94;
  padding: 10px;
  width: 160px;
}

.order-comment-box {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  .order-comment-save {
    margin-top: 6px;
    padding: 6px 12px;
    background-color: #7fbd94;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


/* NAVIGATION FEATURE */
  .map-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000066;
  }
  
  .order-map-btn {
    margin-top: 6px;
    padding: 6px 12px;
    background-color: #4c7ef3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

@media(max-width:1000px){
    .order-item{
        grid-template-columns: 1fr; /* stack content vertically */
        padding: 15px;
        gap: 20px;
    }
    .order-item select{
        padding: 6px;
        font-size: 13px;
        width: 100%;
    }
    .order-item img{
        width: 40px;
    }
}